@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form>
    <label>Enter first number</label>
    <input id = "num1" type="number"/>

    <label>Enter second number</label>
    <input id = "num2"  type="number"/>

    <input type="button" value = "Compute Sum" onclick = "add()">
    </form>
    <p id = "result"></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
